@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.scrollbar-invisible {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-invisible::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
